{% extends 'layouts/base.html' %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
                <div class="row">
                {% for product in  products %}
                    <div class="col-4">
                        {% if product.featured_image %}
                        <img src="{{product.featured_image.url}}">
                        {% endif %}
                        <h4><a href="{% url 'store:detail' handle=product.handle %}">{{product.title}}</a></h4>
                    </div>
                {% endfor %}    
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}